# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.spec

# Temporary files
*.tmp
.pst2mbox_write_test.tmp

version_info.txt
